:root{
    --color1: #242423;
    --color2: #E8EDDF;
    --color3: #dfba54;
    --color4: #464946;
    --color5: #4b5267;
    --color6: #323432;
    --color7: #858780; 
    --font1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font2: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    margin:0;
    font-family: var(--font1);
}
body{
    background-color: var(--color4);
}
.web-content{
    width:90vw;
    height:90vh;
    margin:auto;
    margin-top:2.5vh;
    border: 1 solid transparent;
    border-radius: 1em;
    background-color: var(--color1);
    padding:1em;
    border-left: .4em solid var(--color5);
    border-top: .4em solid var(--color5);
    border-right:.2em solid var(--color2);
    border-bottom: .2em solid var(--color3);
    overflow: hidden;
}
nav a{
    display:block;
    text-decoration: none;
    color:white;
    float:right;
    width:fit-content;
    transition:.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-bottom: .6em;
    transform:translateY(.6em);
    font-size: 110%;
    font-weight: 600;
    padding:.3em;
}
nav a:first-child{
    float:left;
}
nav a:not(:first-child){
    float:right;
}
nav{
    width:100%;
    border: 1 solid transparent;
    height:10%;
}
nav a:hover{
    color:#efbcd5;
    margin-bottom: .4em;
}
section{
    width:100%;
    height: 90%;
    overflow: auto;
}
table{
    text-align: center;
    margin:auto;
    font-size:110%;
    margin-top: 20vh;
    border: 0 solid transparent;
    border-radius: .5em;
    overflow: hidden;
}
td,th{
    color:white;
}
td{
    background-color: var(--color4);
    padding: .7em;
}
::placeholder{
    color:lightgrey;
    font-style: italic;
}
th{
    margin:0;
    padding:.3em;
    background-color: var(--color6);
}
input,select{
    background-color: transparent;
    border:0;
    color:white;
    font-size:100%;
    border: .2em solid transparent;
    outline: none;
    transition:.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input:hover{
    border: .2em solid var(--color3);
    transition:.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input:focus{
    border: .2em solid var(--color3);
    box-shadow: .4em .4em 0 var(--color3);
    transition:.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input:invalid:hover{
    border: .2em solid var(--color5);
    transition:.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input:invalid:focus{
    border: .2em solid var(--color5);
    box-shadow: .4em .4em 0 var(--color5);
    transition:.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
select:focus{
    background-color: var(--color3);
    
}
th[colspan]{
    background-color: var(--color5);
    border:0;
}
input[type='submit']{
    border-bottom: .1em solid transparent;
    transition:.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}
input[type='submit']:hover{
    color:var(--color5);
}
tr.admin td.admin,td.admin {
    background-color: var(--color3);
}
tr.admin td{
    background-color: var(--color7);
}

